click==6.6
Flask==0.11.1
Flask-SocketIO==2.8.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pyserial==3.2.1
python-engineio==1.1.0
python-socketio==1.6.1
requests==2.12.3
six==1.10.0
Werkzeug==0.11.11
